<!DOCTYPE html>
<html manifest="manifest.appcache">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/touch-icon-ipad-retina.png">
    <title>BVG Realtime</title>

    <link href="lib/components-font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/Geolib/dist/geolib.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!--script src="cordova.js"></script-->

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="MainCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable bar-bvg">
        <h1 class="title">BVG Realtime</h1>
        <button class="button button-clear button-dark" ng-click="findBusStop()"><em class="fa fa-crosshairs"></em></button>
      </ion-header-bar>
      <ion-content>
            <ion-list>
              <ion-item ng-repeat="item in result" ng-click="openModal(item)">
              {{item.tags.name}}
              </ion-item>
            </ion-list>
      </ion-content>
      </ion-pane>

<script id="bvg-realtime-popover.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
    <h1 class="title">{{currentItem.tags.name}}</h1>
        <button class="button button-clear button-dark" ng-click="closeModal()">&#10006;</button>
    </ion-header-bar>
    <iframe id="info" src="" style="width: 100%; height: 100%; position: absolute;"></iframe>
    </ion-modal-view>
</script>
  </body>
</html>
