<!DOCTYPE html>
<html manifest="manifest.appcache">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/touch-icon-ipad-retina.png">
    <title>BVG Realtime</title>

    <link href="lib/components-font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/Geolib/dist/geolib.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!--script src="cordova.js"></script-->

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="MainCtrl">
    <ion-pane>
      <ion-header-bar class="bar-stable bar-bvg">
        <button class="button button-clear button-dark" ng-click="openAbout()"><em class="fa fa-info-circle"></em></button>
        <h1 class="title">BVG Realtime</h1>
        <button class="button button-clear button-dark" ng-click="findBusStop()"><em class="fa fa-crosshairs"></em></button>
      </ion-header-bar>
      <ion-content>
            <ion-list>
              <ion-item ng-repeat="item in result" ng-click="openModal(item)">
              {{item.tags.name}}
              </ion-item>
            </ion-list>
      </ion-content>
      </ion-pane>

<script id="bvg-realtime-popover.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{currentItem.tags.name}}</h1>
      <button class="button button-clear button-dark" ng-click="closeModal()">&#10006;</button>
    </ion-header-bar>
    <div class="iframe-wrapper">
      <iframe id="info" src=""></iframe>
    </div>
  </ion-modal-view>
</script>

<script id="info-popover.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">About</h1>
      <button class="button button-clear button-dark" ng-click="closeAbout()">&#10006;</button>
      </ion-header-bar>
      <ion-content>
      <h1>BVG Realtime</h1>
      <p>
        Github: <a href="http://github.com/spieker/bvg-realtime" target="_blank">http://github.com/spieker/bvg-realtime</a>
        </p>
        <p>
        <a href="https://flattr.com/submit/auto?user_id=spieker&url=http%3A%2F%2Fspieker.github.io%2Fbvg-realtime" target="_blank"><img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
      </p>

      <h1>OpenStreetMap</h1>
      <p>Bus stop data from OpenStreetMap</p>
      <p>Link: <a href="http://www.openstreetmap.org/" target="_blank">http://www.openstreetmap.org/</a></p>
      <p>Lizenz: <a href="http://www.openstreetmap.org/copyright/en" target="_blank">http://www.openstreetmap.org/copyright/en</a></p>
      </ion-content>
  </ion-modal-view>
</script>
  </body>
</html>
